* {
  box-sizing: border-box;
}
main {
  max-width: 600px;
  height: 700px;
  margin: 40px auto;
  padding: 50px 40px;
  background-color: rgb(29, 29, 29);
}

main .container {
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section {
  text-align: center;
  padding: 0 20px;
}

.die_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.die {
  margin: 15px;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die.held {
  background-color: rgb(74, 255, 107);
}

.roll_dice {
  border: none;
  background-color: rgb(76, 70, 255);
  color: white;
  padding: 14px 45px;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px 0;
}

.roll_dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 590px) {
  main {
    height: 900px;
  }
}
@media screen and (max-width: 520px) {
  main .container {
    padding: 20px 0;
  }
}

@media screen and (max-width: 425px) {
  main {
    margin: 0;
    padding: 25px;
  }
  .container h2 {
    margin: 0;
  }
}
@media screen and (max-width: 380px) {
  .die {
    margin: 8px;
  }
}
@media screen and (max-width: 324px) {
  .die {
    width: 50px;
    height: 50px;
    margin: 8px;
  }
}
